<div class="h-dvh w-full bg-[#d3e9f7] flex items-center justify-center  flex-col">
    <h1 class="font-stylish text-[120px]">WANT TO MANAGE TASK?</h1>
    <button routerLink="/task" class="getStarted flex items-center justify-center bg-cyan-400 rounded-full text-white font-sans text-2xl">
        <span class="bg-cyan-600 text-white text-6xl rounded-full flex w-20 h-20 justify-center items-center" >
            <lucide-icon [img]="ArrowRight" [size]="30"></lucide-icon>
        </span>
        <span class="hiddenText">Get Started</span>
    </button>
</div>