<app-modal [isVisible]="openTaskModal" title="Create Task" (close)="closeModal()">
    <form>
        <div>
            <label for="">Task Label</label>
            <input type="text" name="task_label" [(ngModel)]="TaskFields.task_label" id="" class="w-full rounded border-gray-300 mt-1" placeholder="Label">
        </div>
        <div class="mt-2">
            <label for="">Task Label</label>
            <textarea name="task_description" [(ngModel)]="TaskFields.task_description" id="" class="w-full rounded border-gray-300 mt-1" placeholder="Description"></textarea>
        </div>
        <div class="flex justify-between items-center mt-1 gap-3">
            <div class="w-2/3">
                <label for="">Task Status</label>
                <select name="task_status" [(ngModel)]="TaskFields.task_status" class="w-full rounded border-gray-300 mt-1" id="">
                    <option value="">Select Status</option>
                    <option value="To-do">To Do</option>
                    <option value="In-progress">In Progress</option>
                    <option value="Complete">Complete</option>
                </select>
            </div>
        </div>
        <button class="w-full bg-blue-500 text-white rounded-md p-3 mt-4" (click)="saveData()">Add Task</button>
        

    </form>


</app-modal>