<div class="p-2 text-black flex justify-between items-center bg-cyan-400 rounded-md">
    User Management
    <button class="p-2 rounded-md border px-10" (click)="openModal()">Add New User</button>
</div>
<div class="mt-5">
    <h1 class="pb-3 text-2xl border-b-2 mb-4">List of User</h1>
    <div *ngFor="let User of UserList; let index = index" class="w-full bg-cyan-100 shadow-md shadow-slate-300 rounded-md p-4 mt-3">
        <span class="mr-6">{{index + 1}}</span>{{User.firstName}} {{User.lastName}}
    </div>
</div>
<app-create-user [openUserModal]="openUserModal" (openTaskModalChange)="openUserModal = $event" (userCreated)="displayData()" ></app-create-user>